body{
    text-align: center;
    background-color: blanchedalmond;
    font-size: larger;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.intro{
    font-style: italic;
    font-size: unset;
}
.sidebar{
    text-align: center;
    float: left;
}

h2{
    text-align: center;
}
.column1{
    float: inline-start;
}
#about{
    width: 40%;
    float: left;
    background-color: yellow;
}
img{
    float: right;
}
#paragraph{
    float: left;
    background-color: dimgray;
}